.vscode/*
env/*
*.pyc
*.npy

solr-*/server/logs/*
solr-*/server/tmp/*.properties
solr-*/contrib/*
solr-*/dist/*.jar
solr-*/dist/solrj-lib/*
solr-*/dist/test-framework/*
solr-*/docs/*
solr-*/example/*
solr-*/licenses/*
solr-8983.pid

README.md
LICENSE
demo.png
search/setup_solr/amazon_food_reviews.csv
