asgiref==3.3.4
certifi==2022.12.7
chardet==4.0.0
click==8.0.1
Django==3.2.20
filelock==3.0.12
future==0.18.3
gunicorn==20.1.0
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==4.5.0
joblib==1.2.0
nltk==3.6.6
numpy==1.22.0
packaging==20.9
pandas==1.2.4
Pillow==9.3.0
pyparsing==2.4.7
pysolr==3.9.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.3
requests==2.31.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
sentence-transformers==1.2.0
sentencepiece==0.1.95
six==1.16.0
sqlparse==0.4.4
threadpoolctl==2.1.0
tokenizers==0.10.3
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tqdm==4.61.1
transformers==4.7.0
typing-extensions==3.10.0.0
urllib3==1.26.5
whitenoise==5.2.0
zipp==3.4.1
