{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Semantic Search</title>
</head>

<div class="overlay" id="loader" style="display: none;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
opacity: 0.6;
background-color: black;
z-index: 99;">
    <div class="preloader-wrapper big active" style="margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<body>
    <ul id="dropdown1" class="dropdown-content">       
        <li><a href="/search" onclick="showLoader()">Search</a></li>
        <li><a href="/about" onclick="showLoader()">About</a></li>
    </ul>

    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="left brand-logo" onclick="showLoader()"><img src="{% static 'img/food.png' %}" height="50"> Home</a>
                <ul id="nav-mobile" class="right hide-on-small-only">        
                    <li><a href="/search" onclick="showLoader()">Search</a></li>
                    <li><a href="/about" onclick="showLoader()">About</a></li>
                </ul>
                <a class="right dropdown-trigger hide-on-med-and-up" href="#!" data-target="dropdown1"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>

    {% block body %}
        <h1>Base</h1>
    {% endblock %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('select');
        let instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.dropdown-trigger');
        let instances = M.Dropdown.init(elems);
    });

    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }

    function submitForm(e) {
        e.preventDefault();

        const urlParams = new URLSearchParams(window.location.search);
        const form = document.querySelector('form');
        const formData = new URLSearchParams(new FormData(form).entries());

        if (urlParams.get("q") !== formData.get("q")
            || urlParams.get("top") !== formData.get("top")
            || urlParams.get("method") !== formData.get("method")) {
            showLoader();
            form.submit();
        }
    }
</script>

</html>
