{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <title>Semantic Search</title>
</head>

<body>
    <nav>
        <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Home</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/search">Search</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/search">Sass</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    {% block body %}
        <h1>Base</h1>
    {% endblock %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>

</html>