{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <title>Semantic Search</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="left brand-logo"><img src="{% static 'img/food.png' %}" height="50"> Home</a>
                <ul id="nav-mobile" class="right">        
                    <li><a href="/search">Search</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}
        <h1>Base</h1>
    {% endblock %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>

</html>