{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="header">
            <h3>Food Reviews Search</h3>
        </div>
        <form class="col s12" onsubmit="showLoader()">
            <div class="row">
                <div class="input-field col s12">
                    <!-- <label for="query">Query</label> -->
                    <input required type="text" class="validate" id="q" name="q" value="{{ q }}" 
                    placeholder="Enter query (e.g. astonishing food, good chicken, etc.)">
                    <label for="q">Query</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select required type="input" id="top" name="top">
                        <!-- <option value="" disabled selected>Choose your option</option> -->
                        <option value="5" {% if top == "5" %} selected{% endif %}>5</option>
                        <option value="15" {% if top == "15" %} selected{% endif %}>15</option>
                        <option value="50" {% if top == "50" %} selected{% endif %}>50</option>
                    </select>
                    <label>Top results</label>
                </div>
                <div class="input-field col s12 m6">
                    <select required type="input" name="method" id="method">
                        <!-- <option value="" disabled selected>Choose your option</option> -->
                        <!-- <option value="ltr" {% if method == "ltr" %} selected{% endif %}>Learning To Rank</option> -->
                        <option value="bert" {% if method == "bert" %} selected{% endif %}>BERT Embeddings</option>
                        <option value="bm25" {% if method == "bm25" %} selected{% endif %}>BM25</option>
                    </select>
                    <label>Search method</label>
                </div>
            </div>
            <button class="btn right waves-effect waves-light" type="submit">Submit</button>
        </form>
    </div>

    {% if results %}
        <div class="container">
            <div class="row">
                <div class="header">
                    <h5>Search Results:</h5>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Review</th>
                            <th>Score</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.rank }}</td>
                                <td>{{ result.text }}</td>
                                <td>{{ result.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}